* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: rgb(62, 62, 132);
}
.container {
	display: flex;
	gap: 10px;
	padding: 100px;
	width: 100%;
	max-width: 1000px;
}
section {
	background-color: #fff;
	border-radius: 7px;
	/* border-color: white; */
}

.drawingBoard {
	flex: 1;
	overflow: hidden;
}
.drawingBoard canvas {
	width: 100%;
	height: 100%;
}
.toolBoard {
	width: 200px;
	padding: 15px 20px 0;
}
.toolBoard .row {
	margin-bottom: 20px;
}
.row .options {
	list-style: none;
	cursor: pointer;
	margin: 10px 0 0 5px;
}
.row .options .option {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-bottom: 10px;
}

.option #fillcolor {
	height: 14px;
	width: 14px;
	cursor: pointer;
}
.option:is(:hover, .active) :where(span, label) {
	color: #4a98f7;
}
.option:is(:hover, .active) img {
	color: violet;
}
#fillcolor :checked ~ label {
	color: black;
}
.option #sizeslider {
	width: 100%;
	height: 5px;
	margin-top: 10px;
}
.colors .options {
	display: flex;
	/* flex-direction: row; */
	justify-content: space-between;
}
.colors .option {
	width: 25px;
	height: 25px;
	/* background-color: red; */
	border-radius: 50%;
	margin-top: 10px;
	position: relative;
}
.colors .option:nth-child(1) {
	background-color: white;
	border: 2px solid black;
}

.colors .option:nth-child(2) {
	background-color: red;
	border: 2px solid black;
}
.colors .option:nth-child(3) {
	background-color: black;
	border: 2px solid black;
}
.colors .option:nth-child(4) {
	background-color: green;
	border: 2px solid black;
}
.colors .option:nth-child(5) {
	background-color: blue;
	border: 2px solid black;
}
.colors .option.selected::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	height: 15px;
	width: 15px;
	background: inherit;
	border-radius: inherit;
	border: 2px solid white;
	transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before {
	border-color: #ccc;
}

.buttons button {
	width: 100%;
	color: #fff;
	border: none;
	font-size: 0.9rem;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	background: none;
	outline: none;
	cursor: pointer;
}
.option #colorPicker {
	opacity: 0;
	cursor: pointer;
	/* border: 2px solid black; */
}
.buttons .clearCanvas {
	color: #6c757d;
	border: 1px solid #6c757d;
	/* transition: all 0.3s ease; */
}
.buttons .saveCanvas {
	background-color: #4a98f7;
	border: 1px solid #6c757d;
}
.clearCanvas:hover {
	color: #fff;
	background: #6c757d;
	transition: all 0.3s ease;
}

.option :where(span, label) {
	color: black;
	cursor: pointer;
	padding-left: 10px;
}
.drawingBoard canvas {
	width: 100%;
	height: 100%;
}
